{% extends "base_template.html" %}

{% block title %}<h1>餐廳名稱為 {{resturant}} 的資訊</h1>{% endblock %}

{% block result%}
{% if resturant_list %}
<h2>餐廳資訊</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">餐廳名稱</th>
            <th scope="col">電話</th>
            <th scope="col">地址</th>
        </tr>
    </thead>
    <tbody>
        {% for resturant in resturant_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{resturant.名稱}}</td>
            <td>{{resturant.電話}}</td>
            <td>{{resturant.地址}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if product_list %}
<h2>使用的產銷履歷商品</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">產品名稱</th>
            <th scope="col">產地</th>
            <th scope="col">包裝日期</th>
            <th scope="col">重量</th>
            <th scope="col">訂貨日期</th>
        </tr>
    </thead>
    <tbody>
        {% for product, r_p in product_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{product.產品名稱}}</td>
            <td>{{product.產地}}</td>
            <td>{{product.包裝日期}}</td>
            <td>{{r_p.重量}}</td>
            <td>{{r_p.訂貨日期}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if p_product_list %}
<h2>使用的加工產品</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">加工產品名稱</th>
            <th scope="col">製造日期</th>
            <th scope="col">重量</th>
            <th scope="col">訂貨日期</th>
        </tr>
    </thead>
    <tbody>
        {% for p_product, r_pp in p_product_list %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{p_product.加工產品名稱}}</td>
            <td>{{p_product.製造日期}}</td>
            <td>{{r_pp.重量}}</td>
            <td>{{r_pp.訂貨日期}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% else %}
<h3>很抱歉，並沒有這間餐廳的資訊！</h3>
{% endif %}
{% endblock %}